.one {
    background: url('../img/numbers/one.jpg') 30%;
    background-size: cover;
}

.two {
    background: url('../img/numbers/two.jpg') 30%;
    background-size: cover;
}

.three {
    background: url('../img/numbers/three.jpg') 30%;
    background-size: cover;
}

.four {
    background: url('../img/numbers/four.jpg') 30%;
    background-size: cover;
}

.five {
    background: url('../img/numbers/five.jpg') 30%;
    background-size: cover;
}

.six {
    background: url('../img/numbers/six.jpg') 30%;
    background-size: cover;
}

.seven {
    background: url('../img/numbers/seven.jpg') 30%;
    background-size: cover;
}

.eight {
    background: url('../img/numbers/eight.jpg') 30%;
    background-size: cover;
}