.one {
    background: url('../img/transport/one.jpg') 30%;
    background-size: cover;
}

.two {
    background: url('../img/transport/two.jpg') 30%;
    background-size: cover;
}

.three {
    background: url('../img/transport/three.jpg') 30%;
    background-size: cover;
}

.four {
    background: url('../img/transport/four.jpg') 30%;
    background-size: cover;
}

.five {
    background: url('../img/transport/five.jpg') 30%;
    background-size: cover;
}

.six {
    background: url('../img/transport/six.jpg') 30%;
    background-size: cover;
}

.seven {
    background: url('../img/transport/seven.jpg') 30%;
    background-size: cover;
}

.eight {
    background: url('../img/transport/eight.jpg') 30%;
    background-size: cover;
}