.one {
    background: url('../img/vegetables/one.jpg') 30%;
    background-size: cover;
}

.two {
    background: url('../img/vegetables/two.jpg') 30%;
    background-size: cover;
}

.three {
    background: url('../img/vegetables/three.jpg') 30%;
    background-size: cover;
}

.four {
    background: url('../img/vegetables/four.jpg') 30%;
    background-size: cover;
}

.five {
    background: url('../img/vegetables/five.jpg') 30%;
    background-size: cover;
}

.six {
    background: url('../img/vegetables/six.jpg') 30%;
    background-size: cover;
}

.seven {
    background: url('../img/vegetables/seven.jpg') 30%;
    background-size: cover;
}

.eight {
    background: url('../img/vegetables/eight.jpg') 30%;
    background-size: cover;
}